:root {
  --black: #171321;
  --mainColor: #d8ecfc;
  --lightBlue: #bbe2ff;
  --lightGrey: #afa8a8;
  --lightGreyTableBorder: #dfc8c870;
  --InputFocusGrey: #545353;
  --disabledColor: #aeb9c1;
}

body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: Trebuchet MS;
}

a {
  text-decoration: none;
}
.disabledBtn{
  background-color: var(--disabledColor) !important;
}
