.word-btn {
    padding-top: 1.5rem;
    padding-right: 4rem;
    text-align: end;
  }
  .word-container {
    margin-top: 1rem;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  }
  .word-header {
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    color: #4a4a4a;
    background-color: var(--lightBlue);
  }
  .word-list-item {
    display: flex;
    font-size: 20px;
    color: #4a4a4a;
    align-items: center;
    padding-left: 1.5rem;
    border-top: 1px solid var(--lightGreyTableBorder);
    justify-content: space-between;
  }
  .word-list-noresult {
    color: #4a4a4a;
    font-size: 20px;
    padding: 10px;
  }
  .word-item-btns {
    padding-right: 5rem;
    padding-left: 0.7rem;
  }
  .textInput {
    border: 1px solid var(--lightGreyTableBorder);
    color: #4a4a4a;
    border-radius: 0.3rem;
    font-size: 20px;
    outline: none;
  }
  .textInput:focus {
    border: 0.13rem solid var(--InputFocusGrey);
  }
  .word-top {
    display: flex;
    justify-content: space-between;
  }
  .errorBorder {
    border-color: #ff6868;
  }
  .word-errorDiv {
    max-width: 80%;
  }